<section class="story">
<h3>Resend confirmation email</h3>
<%= form_for(resource, :as => resource_name, :url => confirmation_path(resource_name), :html => { :method => :post }) do |f| %>
  <%= devise_error_messages!("The following errors occurred when resending the confirmation email:") %>

  <dl class="form-fields">
	<dt><%= f.label :email %></dt>
	<dd><%= f.email_field :email, :autofocus => true %></dd>

	<dd><%= f.submit "Resend confirmation email" %></dd>
  </dl>
<% end %>
</section>
