<section class="story">
<h3>Forgot your password?</h3>
<%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f| %>
  <%= devise_error_messages!("The following errors occurred when resetting your password:") %>
  <dl class="form-fields">
	<dt><%= f.label :email %></dt>
	<dd><%= f.email_field :email, :autofocus => true %></dd>

	<dd><%= f.submit "Reset my password" %></dd>
  </dl>
<% end %>
