<%= form_for(@album) do |f| %>
  <% if @album.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@album.errors.count, "error") %> prohibited this album from being saved:</h2>

      <ul>
      <% @album.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
	<p>
	<%= f.label('Title') %> <br/>
	<%= f.text_field(:title) %>
	</p>
	<p>
	<%= f.label('Description') %> <br/>
	<%= f.text_area(:description, :rows => 3) %>
	</p>
	<p>
	<%= f.label('Privacy Level') %> <br/>
	<%= f.select(:privacy_level_id, options_from_collection_for_select(PrivacyLevel.all, 'id', 'display'))%>
    <%= f.submit %>
  </div>
<% end %>
