<% title 'Sign In' %>
<section class="story">
	<h2>Sign in</h2>
<% unless flash.nil? || flash.empty? %>
	<strong class="c2">The following errors occurred during sign-in:</strong>
	<ul class="form-errors">
	<% flash.each do |name,msg| %>
		<li><%= msg %></li>
	<% end %>
	</ul>
<% end %>
<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
	<dl class="form-fields">
	  <dt><%= f.label :email %></dt> 
	  <dd><%= f.email_field :email, :autofocus => true %></dd>

	  <dt><%= f.label :password %></dt>
	  <dd><%= f.password_field :password %></dd>

	<% if devise_mapping.rememberable? -%>
          <dd><%= f.check_box :remember_me %> <%= f.label :remember_me %></dd>
	<% end -%>

  	  <dd><%= f.submit "Sign in" %></dd>
	</dl>
<% end %>

<%= render "devise/shared/links" %>
</section>
