<%= form_for([@album, @image], :html => { :multipart => true }) do |f| %>
	<%= hidden_field(:geo, :latitude) %>
	<%= hidden_field(:geo, :longitude) %>
	<%= hidden_field(:geo, :accuracy) %>
	
  <% if !@errors.empty? %>
    <div id="error_explanation">
      <h2><%= pluralize(@errors.count, "error") %> prohibited this image from being saved:</h2>

      <ul>
      <% @errors.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
	<%= file_field(:upload, :image, :accept => 'image/*') %>
	<p>
	<%= f.label('Add a caption to your image (optional)') %> <br/>
	<%= f.text_field(:caption) %>
	</p>
	<p>
	<%= check_box(:upload, :use_geo, {}, 'Y', 'N') %>
	<%= f.label('Include geo tag information with image?') %>
	<p>
    <%= f.submit %>
  </div>
<% end %>
