<%= form_for([@album, @image], :html => { :multipart => true }) do |f| %>

  <% unless @errors.nil || @errors.empty? %>
	<strong class="c2">The following errors occurred while saving the image:</strong>
	<ul class="form-errors">
	<% @errors.each do |msg| %>
		<li><%= msg %></li>
	<% end %>
	</ul>      
  <% end %>
 
  <dl class="form-fields">
	<%= hidden_field(:geo, :latitude) %>
	<%= hidden_field(:geo, :longitude) %>
	<%= hidden_field(:geo, :accuracy) %>

	<dt><%= f.label('Select the image you wish to upload') %></dt>
	<dd><%= file_field(:upload, :image, :accept => 'image/*') %></dd>

	<dt><%= f.label('Caption your image (optional)') %></dt>
	<dd><%= f.text_field(:caption) %></dd>

	<dd>
	  <%= check_box(:upload, :use_geo, {}, 'Y', 'N') %>
	  <%= f.label('Include location information with image?') %>
	</dd>

	<dd><%= f.submit %></dd>
  </dl>
<% end %>
