<!doctype html>
<html>
	<head>
		<title>Photo Art - <%= content_for?(:title) ? yield(:title) : "Home" %></title>
		<%= stylesheet_link_tag "application" %>
		<%= javascript_include_tag "jquery" %>
	</head>	
	<body>
		<div id="main-wrapper">
			<header>
				<div class="content-container">
					<h1>Photo Art</h1>
					<a href="<%= root_path %>" title="Photo Art" id="return-home">
						<%= image_tag("title.png", :alt=>"Photo Art") %>
					</a>
					<nav>
						<ul id="navigator">
							<li<%= conditional_output(is_current_page(root_path), ' class="active"') %>><%= link_to 'Home', root_path %></li>
							<li<%= conditional_output(is_current_page(gallery_path), ' class="active"') %>><%= link_to 'Gallery', gallery_path %></li>
							<li<%= conditional_output(is_current_page(people_path), ' class="active"') %>><%= link_to user_signed_in? ? 'Friends' : 'People', people_path %></li>
						<% if user_signed_in? %>
							<li<%= conditional_output(is_current_page(albums_user_path(current_user)), ' class="active"') %>><%= link_to 'Albums', albums_user_path(current_user) %></li>
						<% end %>
						</ul>
					</nav>
					<% if user_signed_in? %>
						<span class="sign-in-info"><%= button_to 'Log Out', destroy_user_session_path, :method => "delete" %></span>
					<% else %>
						<span class="sign-in-info"><%= link_to 'Login', new_user_session_path %> or <%= link_to 'Sign Up', new_user_registration_path %> today!</span>
					<% end %>
				</div>
			</header>
			<section id="main-content">
				<div class="content-container">
					<%= yield %>
				</div>
			</section>
		</div>
		<%= javascript_include_tag "application" %>
	</body>
</html>
